  <div class="grid grid-cols-1 gap-2 md:grid-cols-3 md:p-0 px-16">
    <div class="md:col-span-3">
      <%= image_tag("hands_only.JPG", class: "aspect-auto") %>
    </div>
    <div class="col-span-1">
      <%= image_tag("dog_sitting_medium.JPG", class: "h-[24.75em]") %>
    </div>
    <div class="col-span-2">
      <%= image_tag("shadow_kiss.JPG") %>
    </div>
    <div class="col-span-1 md:row-span-2 bg-slate-100">
      <%= image_tag("hold_and_smile.jpg") %>
    </div>
    <div class="col-span-1">
      <%= image_tag("jo_looking.jpg") %>
    </div>
    <div class="col-span-1">
      <%= image_tag("dog_kiss.jpg") %>
    </div>
    <div class="col-span-1">
      <%= image_tag("dog_sitting_zoomed_out.JPG") %>
    </div>
    <div class="col-span-1 ">
      <%= image_tag("held_in_air.JPG", class: "width-full max-h-[42rem]") %>
    </div>


    
  </div>