<header class="relative hero-image h-[42rem]" style="background-image: url('<%= image_url("Hero-2.jpeg") %>')">
  <div class="absolute inset-0 flex flex-col justify-end w-4/6 pl-50 text-center bg-black-500/70 mx-auto mb-16">
    <h1 class="text-6xl font-bold tracking-tight text-white sm:text-5xl text-shadow-black fancy-header">
      Joslyn and Shawn Say I Do
    </h1>
    <div id="timer" class="justify-center text-shadow-black md:text-4xl text-2xl"></div>
  </div>
</header>
<section class="p-8 bg-black text-white uppercase md:text-lg text-[0.67rem] text-center">
  <nav>
    <ul class="flex gap-8 justify-center">
      <li><a href="#story">Our Story</a></li>
      <li><a href="#venue">Venue</a></li>
      <li><a href="#food">Food</a></li>
      <li><a href="#dress">Dress</a></li>
      <li><a href="#gifts">Gifts</a></li>
      <li><a href="#faq">FAQ</a></li>
    </ul>
  </nav>
</section>

<section id="story" class="my-8 max-w-4xl mx-auto">
  <h2 class="fancy-header text-6xl text-center my-12">Our Story</h2>
  <div class="flex md:flex-nowrap flex-wrap gap-8 py-12 px-8">
    <div class="relative mx-auto">
      <div class="bg-sky-800 absolute right-[5rem] w-11/12 h-full rotate-2"></div>
      <%= image_tag("Her-image.jpeg", class: "w-10/12 -rotate-3 aspect-4/3") %>
    </div>
    <div class="w-full text-right">
      <h3 class="text-4xl fancy-header mb-4">Her</h3>
      <p>Joslyn was working a corporate job for a major bank and living back at home in Excelsior SPrings, Mo. She created a profile on a dating app looking for someone that shared her passion for fitness and family.</p>
    </div>
    <p></p>
  </div>
  <div class="flex md:flex-row-reverse flex-row flex-wrap md:flex-nowrap gap-8 py-12 px-8">
    <div class="relative">
      <div
        class="bg-orange-700 absolute md:w-[24rem] md:h-[28rem] w-[18rem] h-[22rem] -rotate-1 -left-[1.5rem] -bottom-[0rem]">
      </div>
      <%= image_tag("8273.jpg", class: "rotate-3 aspect-4/3 md:w-[36rem] md:h-[28rem]") %>
    </div>
    <div class="w-full py-8">
      <h3 class="text-4xl fancy-header mb-4">Him</h3>
      <p>Shawn was working as a police officer overnight and looking for someone that enjoyed outdoor activities and life adventures</p>
    </div>
  </div>
  <div>
    <h3 class="text-4xl fancy-header w-full mx-auto text-center">Together</h3>
    <%= image_tag("GroupWPup.jpg", class: "w-[500px] mx-auto py-4") %>
    <p class="pt-8 w-10/12 text-center mx-auto">Their relationship began in the Spring of 2021 and has been buzzing ever since. 
      Joslyn fell in love with Shawn's kind-hearted personality and his passion for serving the communities he polices (the jeep was a bonus, as it is for so many). 
      Shawn fell in love with Joslyn's witty personality and her taste for adventure. 
      <br /><br />
      As our relationship progressed, we learned how to work together as one, we learned how to encourage and support one another, and we found the kind of love we've never experienced before. 
      <br />
      We knew from the early moments of our courtship that we had found the one we'd both been waiting for. 
      <br /><br />
      We are excited to start the next adventure in life, marriage!</p>
  </div>
</section>

<section id="venue" class="my-8 py-4 max-w-6xl mx-auto min-h-[46rem]">
  <h2 class="fancy-header text-6xl text-center my-12">Location Location Location</h2>
  <div class="flex gap-4 mt-24 px-8 flex-wrap md:flex-nowrap">
    <div>
    <h3 class="text-4xl mb-2">Weston Burley House</h3>
    <p class="py-2">The wedding will take place at the Weston Burley House. This historic building was 
      constructed in 1937 and is the perfect rustic backdrop for this special occasion!</p>
    <p class="my-4">
      <span class="underline font-semibold">Address</span>
      <br>
      357 Main St
      <br>
      Weston, MO 64098
    </p>
    </div>
    <div class="relative w-1/2 h-96">
      <%= image_tag("BurleyHouseExterior.png", class: "rounded-lg absolute inset-0 w-full") %>
      <%= image_tag("WestonBurleyHouseInterior.jpeg", class: "rounded-lg absolute w-10/12 bottom-[-8rem] right-[-9rem]") %>
    <div>
  <div>

</section>

<section id="food" class="my-8 max-full mx-auto pizza-bg h-[500px] relative" style="background-image: url('<%= image_url("PizzaBG3.png") %>');">
  <div class="absolute inset-y-0 left-8 px-16 py-16">
    <h2 class="fancy-header text-6xl my-12 text-white">Let's Eat</h2>
    <p class="w-3/6 text-white">There will be a pizza and salad bar for guests to enjoy during the reception. Please make sure to fill out any food alergies or preferences you have when RSVPing.
    </p>
  </div>
</section>

<section id="dress" class="my-16 max-w-4xl mx-auto">
  <h2 class="fancy-header text-6xl text-center my-12">Dressed for the occasion</h2>
  <p class="py-8 text-center">
    The dress code for our wedding with be "Dressy Casual". Below we have provided a quick list of do's and don'ts but if you need a longer explaination for our requested attire check out this <a class="text-sky-800 underline" href="" target="_blank">Dressy Casual Giftuide</a>. <br /> Please also avoid white dresses as this color is customarily reserved for the bride.
  <div class="flex md:flex-nowrap flex-wrap gap-16 place-items-center pt-12">
    <div class="w-1/2 min-h-full mx-auto text-center rounded-md py-8 card-shadow">
      <div class="relative">
        <div
          class="rounded-full w-24 h-26 absolute inset-x-0 -top-[75px]  border-solid border-4 border-black mx-auto bg-pink-100">
          <%= image_tag("dress.png", class: "relative inset-0") %>
        </div>
      </div>
      <h3 class="text-4xl mb-4 mt-12">For Her</h3>
      <div class="flex gap-8 px-8 justify-center h-52">
        <div class="basis-1/2">
          <%= image_tag("remove.png", class: "w-8 h-8 mx-auto mb-2") %>
          <ul class="mx-auto text-center">
            <li>Crop Tops</li>
            <li>T-Shirts</li>
            <li>Shorts</li>
            <li>Mini Skirts</li>
            <li>Plastic Flip Flops</li>
          </ul>
        </div>
        <div class="basis-1/2">
          <%= image_tag("check.png", class: 'w-8 h-8 mx-auto mb-2') %>
          <ul class="mx-auto text-center">
            <li>Dresses</li>
            <li>Dressy Jumpsuits</li>
            <li>Long Skirts</li>
            <li>Blouses</li>
            <li>High Heels</li>
            <li>Dressy Flats</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="w-1/2 min-h-full mx-auto text-center rounded-md py-8 card-shadow">
      <div class="relative">
        <div
          class="rounded-full w-24 h-26 absolute inset-x-0 -top-[75px] border-solid border-4 border-black mx-auto bg-blue-100">
          <%= image_tag("suit.png", class: "relative inset-0") %>
        </div>
      </div>
      <h3 class="text-4xl mb-4 mt-12">For Him</h3>
      <div class="flex gap-8 px-8 justify-center h-52">
        <div class="basis-1/2">
          <%= image_tag("remove.png", class: "w-8 h-8 mx-auto mb-2") %>
          <ul class="mx-auto text-center">
            <li>T-Shirts</li>
            <li>Shorts</li>
            <li>Jeans</li>
            <li>Ripped Clothing</li>
            <li>Plastic Flip Flops</li>
          </ul>
        </div>
        <div class="basis-1/2">
          <%= image_tag("check.png", class: 'w-8 h-8 mx-auto mb-2') %>
          <ul class="mx-auto text-center">
            <li>Blazers</li>
            <li>Button Down Shirts</li>
            <li>Polo Shirt</li>
            <li>Chinos or Slacks</li>
            <li>Dress Shoes</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="gifts" class="my-16 max-full mx-auto bg-beach relative min-h-52" style="background-image: url('<%= image_url("sean-oulashin-KMn4VEeEPR8-unsplash.jpg") %>');">
  <div class="absolute inset-0 md:w-8/12 lg:w-1/2 w-10/12 h-1/2 md:h-1/2 mx-auto my-24 p-2 text-center bg-white">
    <div class="border-2 border-solid py-8 px-8 h-full">
      <h2 class="fancy-header md:text-4xl text-center text-4xl mt-4">A Gift We Will Never Forget</h2>
      <p class="my-6">Instead of a classic registery and gifts we have decided to launch a HoneyFund!!
        By donating to this fund you are contributing to a once in a lifetime trip to help us celebrate our new union.
      </p>
      <div class="mp-8">
      <a href="https://www.honeyfund.com"
        class=" text-white bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-teal-300 dark:focus:ring-teal-800 font-medium rounded-lg text-sm px-8 py-4 text-center mb-8">Contribute
      </a>
      </div>
    </div>
  </div>
</section>

<section id="faq" class="my-8 max-w-4xl mx-auto">
  <h2 class="fancy-header text-6xl text-center my-12">Other Tips</h2>
  <section role="group" class="w-2/3 mx-auto">
    <details name=accordion>
      <summary
        class="flex border-t-2 border-b-2 border-solid border-black cursor-pointer text-2xl p-4 [&button>_svg]:open:-rotate-180">
        Lodging
        <button class="ml-auto">
          <svg class="fill-current opacity-75 w-6 h-6 -mr-1 rotate-0 transform transition-all duration-300"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z" />
          </svg>
        </button>
      </summary>
      <span class="px-8">
        <p class="p-4">The Bride and Groom recommend these locations to stay in Weston and The Kansas City area.</p>
        <ul class="p-8">
          <li>The Saint George Hotel</li>
          <li>The Benner House</li>
          <li>The Hatchery House Bed & Breakfast</li>
          <li>Weston Firefly Inn</li>
          <li>Weston Select Bed & Breakfast</li>
          <li>Hilton Kansas City Airport</li>
          <li>Embassy Suites by Hilton Kansas City International Airport</li>
          <li>Holiday Inn Kansas City Airport, an IHG Hotel</li>
          <li>Kansas City Airport Marriott</li>
      </span>
    </details>
    <details name=accordion>
      <summary class="flex border-b-2 border-solid border-black cursor-pointer text-2xl p-4">Photo Policy
        <button class="ml-auto">
          <svg class="fill-current opacity-75 w-6 h-6-mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z" />
          </svg>
        </button>
      </summary>
      <p class="p-4 mt-4">The Bride and Groom encourage you to take as many photos as you would like during the reception. 
        This website will provide a upload portal for you to share you photos with the couple and others.</p>
    </details>
    <details name=accordion>
      <summary class="flex border-b-2 border-solid border-black cursor-pointer text-2xl p-4">Ride Share/Car Rentals
        <button class="ml-auto">
          <svg class="fill-current opacity-75 w-6 h-6-mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z" />
          </svg>
        </button>
      </summary>
      <p class="p-4 mt-4">The bride and groom suggest out-of-town guests reserve a rental car as Weston does not have taxi/ride-share services.</p>
    </details>
  </section>
</section>

<section class="my-16 max-w-4xl mx-auto">
  <div class="flex flex-col gap-4 text-center">
  <h2 class="fancy-header text-6xl text-center my-12">RSVP Today!</h2>
  <p>Note that you will need the passcode provided on your invitation to submit your RSVP</p>
  <div class="w-1/2 mx-auto mt-8">
    <%= link_to "RSVP", new_reservation_path, class: "text-white bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-teal-300 dark:focus:ring-teal-800 font-medium rounded-lg text-sm px-8 py-4 text-center mb-8" %>
  </div>
  </div>
</section>

<section id="gallery" class="my-8 max-w-4xl mx-auto">
  <h2 class="fancy-header text-6xl text-center my-12">Engagement Photos</h2>
  <%= render "photo_gallery" %>
</section>

<script>
  function updateTimer() {
    var future = Date.parse("September 14 2024 11:30:00");
    var now = new Date();
    var diff = future - now;

    var days = Math.floor(diff / (1000 * 60 * 60 * 24));
    var hours = Math.floor(diff / (1000 * 60 * 60));
    var mins = Math.floor(diff / (1000 * 60));
    var secs = Math.floor(diff / 1000);

    var d = days;
    var h = hours - days * 24;
    var m = mins - hours * 60;
    var s = secs - mins * 60;

    document.getElementById("timer")
      .innerHTML =
      '<div class="timer-group"><div class="timer-value">' + d + '</div><div class="timer-label">days</div></div>' +
      '<div class="timer-group"><div class="timer-value">' + h + '</div><div class="timer-label">hours</div></div>' +
      '<div class="timer-group"><div class="timer-value">' + m + '</div><div class="timer-label">minutes</div></div>' +
      '<div class="timer-group"><div class="timer-value">' + s + '</div><div class="timer-label">seconds</div></div>';
    }

  setInterval(updateTimer, 1000);
</script>