<tr class="border border-slate-200 text-center">
  <td class="border border-slate-200">
    <%= link_to edit_reservation_path(reservation) do %> <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
      </svg>
    <% end %>
  </td>
  <td class="border border-slate-200"><%= reservation.full_name %>
  </td>
  <td class="border border-slate-200"><%= reservation.response.tr("_", " ").titleize %></td>
  <td class="border border-slate-200">
    <p class="p-4 text-left">
      <%= reservation.address_one %>
      <br />
      <%= reservation.city %>, <%= reservation.state %> <%= reservation.zipcode %>
      <br />
      <br />
      <span class="font-semibold">Phone Number: </span><%= reservation.phone.blank? ? "Not Provided" : reservation.phone %>
    </p>
  </td>
  <td class="border border-slate-200">
    <%= "No Perferences" unless reservation.non_gluten || reservation.non_meat %>
    <%= "Gluten Free" if reservation.non_gluten %>
    <%= tag.br unless reservation.non_gluten || reservation.non_meat %>
    <%= "Vegetarian/Vegan" if reservation.non_meat %>
  </td>
  <td class="border border-slate-200">
    <% if reservation.allergens.any? %>
      <% reservation.allergens.each do |allergen| %>
        <%= tag.div allergen.name %>
      <% end %>
    <% else %>
      <%= "No Allergies Reported" unless reservation.allergens.any? %>
    <% end %>
  </td>
</tr>