<div class="flex">
  <div class="w-full md:w-1/2 mx-auto p-6 bg-white border border-gray-200 rounded-lg shadow ">
    <%= form_with model: @memory, multipart: true do |f| %>
      <div class="my-4">
        <%= f.label :submitter, "Your Name", class: "block mb-2 text-sm font-medium text-gray-900" %>
        <%= f.text_field :submitter, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %>
      </div>
      <div class="my-4">
        <%= f.label :content, "Comments", class: "block mb-2 text-sm font-medium text-gray-900" %>
        <%= f.rich_text_area :content, rows: 6 %>
      </div>
      <div class="my-4">
        <%= dropzone_controller_div do %>
          <% f.object.images.each do |image| %>
            <%= f.hidden_field :images, multiple: true, value: image.signed_id %>
          <% end %>
          <%# direct_upload: true %>
          <%= f.file_field :images, direct_upload: true, multiple: true, data: { dropzone_target: "input" } %>
          <div class="dropzone-msg dz-message needsclick text-gray-600 flex flex-col text-center align-center">
            <svg class="w-8 h-8 mb-4 mx-auto text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
            </svg>
            <p class="dropzone-msg-title">Drag here to upload or click here to browse</p>
            <p class="dropzone-msg-desc text-sm">2 MB file size maximum. Allowed file types png, jpg. No more than 10 files per memory.</p>
          </div>
          <div class="dz-preview" style="min-height: 0px;"></div>
        <% end %>
      </div>
      <div class="my-4">
        <%= f.submit class: "w-full text-white bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-teal-300 dark:focus:ring-teal-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2" %>
      </div>
    <% end %>
  </div>
</div>
